# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.pyenv/

# Python-specific logs
*.log
*.out
*.err

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy cache
.mypy_cache/

# Pylint reports
pylint-report.txt

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Cython debug symbols
cython_debug/
